@model mvcassesment.Models.Customer

<h2>Customer Details which belongs to orderid is 10248</h2>
<p>Customer ID: @Model.CustomerID</p>
<p>Company Name: @Model.CompanyName</p>
<p>Contact Name: @Model.ContactName</p>